.carousel{
    background: white;
    margin-top: 95px;
}
.carousel .item{
    max-height: 400px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	margin: 20px;
}
.carousel-control.right, .carousel-control.left {
  background-image:none; 
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffff;
}

.btn-outline-success {
    color: #663c24;!important
    background-color: transparent;
    background-image: none;
    border-color: #663c24;!important
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #663c24;!important
    border-color: #663c24;!important
}

.btn-outline-success:not([disabled]):not(.disabled).active, .btn-outline-success:not([disabled]):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #663c24;
    border-color: #663c24;
    box-shadow: 0 0 0 0.2rem #663c24; !important
}
.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem #663c24; !important
}.btn-outline-success:hover {
   
    border-color: #663c24;
}
.jumbotron {
    padding: 0rem 0rem;
    margin-bottom: .5rem;
    background-color: #663c24; }
#myFooter {
	background-color: #663c24;
	color: white;
	padding-top: 1px;
	margin-top: 2rem;
	height: 30px;
}
 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #4d2f1e;
   color: white;
   text-align: center;
}
#myFooter .footer-copyright {

background-color: #4d2f1e;
    
padding-top: 3px;
    
padding-bottom: 3px;
    
text-align: center;
}


#myFooter .row {
    
margin-bottom: 10px;
}



#myFooter .footer-copyright p {
	margin: 10px;
	color: #ccc;
	height: 10px;
}


#myFooter ul {
    
list-style-type: none;
    
padding-left: 0;
    
line-height: 1.7;
}




#myFooter a {
    
color: #d2d1d1;
    
text-decoration: none;
}



#myFooter a:hover,
#myFooter a:focus {
    
text-decoration: none;
    
color: white;
}





.righ{
	
	float:right;
	height:5px;}

.btn-primary {
    color: #fff;
    background-color: #917f35;
    border-color: #917f35;
	height:30px;
	width:100px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #917f35;
    border-color: #917f35;
}
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #917f35;
    border-color: #917f35;
    box-shadow: 0 0 0 0.2rem #917f35;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #917f35;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #663c24;}

.searchbox {
border: 1px solid #917f35;
outline: none;
font: 11px 'Montserrat', sans-serif;
color: #777;
width: 183px;
height: 32px;
background: #fff;
padding-left: 10px;

}

.searchsubmit {
font-family: 'FontAwesome';
width: 29px;
height: 32px;
border: 1px solid #917f35;
font-size: 12px;
position: absolute;
top: 0;
right: 0;
background: #917f35;
1px solid #75787b;
color: #5d3250;
cursor: hand; cursor: pointer;
}
.searchform div {
height: 30px;
width: 200px;
}

.searchboxwrapper {
position: relative;
}